nodered/data/.flows.json.backup
[
    {
        "id": "154ea40221d3de65",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f24049eea401fbcf",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c31b33faea5c34fa",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "mongo",
        "port": "27017",
        "dbName": "sensores",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "e09b5d820eea0b4d",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgres",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "iot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "admin",
        "passwordFieldType": "str"
    },
    {
        "id": "01fa2124e3ecccd7",
        "type": "debug",
        "z": "154ea40221d3de65",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 680,
        "wires": []
    },
    {
        "id": "8651f84f8008250e",
        "type": "function",
        "z": "154ea40221d3de65",
        "name": "function 1",
        "func": "var obj = {};\n\nobj._id = msg.id;\nobj.createAt = new Date;\nobj.temperatura = msg.payload.t;\nobj.humidity = msg.payload.umid;\nobj.topic = msg.topic;\n\nmsg = {};\nmsg.payload = obj\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fdd185f97d48ee75",
        "type": "uuid",
        "z": "154ea40221d3de65",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "UUID",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 370,
        "y": 640,
        "wires": [
            [
                "732097fc8ac1240c"
            ]
        ]
    },
    {
        "id": "bf41af03d30d99d3",
        "type": "mqtt in",
        "z": "154ea40221d3de65",
        "name": "",
        "topic": "sensor/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f24049eea401fbcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 560,
        "wires": [
            [
                "aa60da6e305f2e04"
            ]
        ]
    },
    {
        "id": "40db60e7c5b392ec",
        "type": "mongodb4",
        "z": "154ea40221d3de65",
        "clientNode": "c31b33faea5c34fa",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 850,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "bdb371eed15ab51d",
        "type": "postgresql",
        "z": "154ea40221d3de65",
        "name": "",
        "query": "",
        "postgreSQLConfig": "e09b5d820eea0b4d",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1050,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "55caef948283a52a",
        "type": "function",
        "z": "154ea40221d3de65",
        "name": "function 2",
        "func": "var objeto = {};\n\nobjeto.query = `insert into sensores(id, createdAt, temperature, humidity, topic) values($1, $2, $3, $4, $5)`;\nobjeto.params = [\n    msg.payload._id,\n    msg.payload.createAt,\n    msg.payload.temperatura,\n    msg.payload.humidity,\n    msg.payload.topic\n]\n\nmsg = {};\nmsg = objeto;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a3e0bc4429c547a4",
        "type": "mqtt in",
        "z": "154ea40221d3de65",
        "name": "",
        "topic": "devices/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f24049eea401fbcf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 640,
        "wires": [
            [
                "fdd185f97d48ee75"
            ]
        ]
    },
    {
        "id": "732097fc8ac1240c",
        "type": "function",
        "z": "154ea40221d3de65",
        "name": "ProcessDeviceData",
        "func": "var message = {};\nmessage.payload = msg.payload;\nmessage.payload.created_at = new Date();\nmessage.operation = \"insertOne\";\nmessage.collection = \"devices\";\n\n\nreturn message;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 640,
        "wires": [
            [
                "01fa2124e3ecccd7",
                "40db60e7c5b392ec"
            ]
        ]
    },
    {
        "id": "ea961d7a94732303",
        "type": "debug",
        "z": "154ea40221d3de65",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "3d5e654c9774419a",
        "type": "function",
        "z": "154ea40221d3de65",
        "name": "ProcessDataReading",
        "func": "var message = {};\nmessage.payload = msg.payload;\nmessage.payload.topic = msg.topic;\nmessage.payload.created_at = new Date();\n\nmessage.operation = \"inserOne\";\nmessage.collection = \"reading_data\";\n\nreturn message;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 560,
        "wires": [
            [
                "ea961d7a94732303",
                "40db60e7c5b392ec"
            ]
        ]
    },
    {
        "id": "aa60da6e305f2e04",
        "type": "uuid",
        "z": "154ea40221d3de65",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "UUID",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 370,
        "y": 560,
        "wires": [
            [
                "3d5e654c9774419a"
            ]
        ]
    }
]